<%- include("partials/header") %>

<div class="ui main text container segment">
	<div class="ui huge header">
		Room Number:    <%= room.number %>
	</div>
	<div class="ui top attached">
		<div class="item">
			<img class="ui centered rounded image" src="<%= room.image %>">
			<div class="capacity">
				<label>Room Capacity:    </label>
				<span><%= room.capacity %></span>
			</div>
			<div class="price">
				<label>Room Price:    </label>
				<span><%= room.price %></span>
			</div>
			<div class="description">
				<span><%= room.description %></span>
			</div>
			<a class="ui orange basic button" href="/rooms/<%= room._id %>/edit">Edit</a>
			<form id="delete" action="/rooms/<%= room._id %>?_method=DELETE" method="POST" >
				<button class="ui red basic button">
					Delete
				</button>
			</form>
		</div>
	</div>
</div>

<%- include("partials/footer") %>
